@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: hsla(0, 0%, 22.75%, 100);
    background-image: radial-gradient(at 38% 84%, hsla(357, 100%, 50%, 0.07) 0px, transparent 50%),
    radial-gradient(at 48% 19%, hsla(357, 100%, 50%, 0.07) 0px, transparent 50%);
}

#titlebar {
    width: calc(100%);
}

#main {
    height: calc(100% - 32px);
}

body, html {
    @apply h-full
}

* {
    --sb-track-color: rgba(35, 46, 51, 0);
    --sb-thumb-color: rgb(209 213 219 / 0.85);
    --sb-size: 5px;
}

*::-webkit-scrollbar {
    width: var(--sb-size)
}

*::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}